## Regression analysis on nationalities and genders

In the following analysis, the overall Sentiment score on gender norms is regressed on the top 6 most frequent nationalities of speakers as well as their gender.

In [1]:
import seaborn as sns 
from matplotlib import pyplot as plt 
import pandas as pd
import numpy as np
import nltk 
from collections import Counter
import statsmodels.formula.api as smf

In [38]:
df = pd.read_pickle('CleanDF.pkl')

In [39]:
list_countries = ['United States of America', 'United Kingdom', 'Australia','Canada','India','Ireland']
df = df[df.nationality.isin(list_countries)]
df.head(5)

,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,,
2015-11-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,This loss is a wake-up call that despite remar...,2,2015,11,-0.8760,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",1,2015,6,0.0387,Positive
2015-04-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,As a journalist and anchor who reaches million...,1,2015,4,0.4939,Positive
2015-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,By empowering people to talk about their gende...,6,2015,2,0.7003,Positive
2015-01-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"By investing in this dangerous programming, TL...",133,2015,1,-0.5610,Negative

In [40]:
df = df.drop(columns = ['occupation', 'Speaker','Quote', 'numOccurrences','quote_month', 'Sentiment Label', 'quote_year'])
df.head(5)

           date_of_birth               nationality  gender  Sentiment
Date
2015-11-01          1971  United States of America  female    -0.8760
2015-06-01          1971  United States of America  female     0.0387
2015-04-01          1971  United States of America  female     0.4939
2015-02-01          1971  United States of America  female     0.7003
2015-01-01          1971  United States of America  female    -0.5610

In [41]:
df.loc[~df.gender.isin(["male", "female"]), "gender"] = "Other"

In [42]:
df = pd.concat([df, pd.get_dummies(df.gender).add_suffix("_onehot")], axis=1)  # one hot encoding
df = pd.concat([df, pd.get_dummies(df.nationality).add_suffix("_onehot")], axis=1)  # one hot encoding
df.head(5)

,date_of_birth,nationality,gender,Sentiment,Other_onehot,female_onehot,male_onehot,Australia_onehot,Canada_onehot,India_onehot,Ireland_onehot,United Kingdom_onehot,United States of America_onehot
Date,,,,,,,,,,,,,
2015-11-01,1971,United States of America,female,-0.8760,0,1,0,0,0,0,0,0,1
2015-06-01,1971,United States of America,female,0.0387,0,1,0,0,0,0,0,0,1
2015-04-01,1971,United States of America,female,0.4939,0,1,0,0,0,0,0,0,1
2015-02-01,1971,United States of America,female,0.7003,0,1,0,0,0,0,0,0,1
2015-01-01,1971,United States of America,female,-0.5610,0,1,0,0,0,0,0,0,1

In [54]:
df = df.rename(columns={"United Kingdom_onehot": "United_Kingdom_onehot"})

In [58]:
mod = smf.ols(formula='Sentiment ~ female_onehot + Other_onehot + Australia_onehot + Canada_onehot + India_onehot + Ireland_onehot + United_Kingdom_onehot',
              data = df) 

res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sentiment   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     13.80
Date:                Sun, 12 Dec 2021   Prob (F-statistic):           5.61e-18
Time:                        19:29:44   Log-Likelihood:                -79746.
No. Observations:              100830   AIC:                         1.595e+05
Df Residuals:                  100822   BIC:                         1.596e+05
Df Model:                           7
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.1185      0.002     48.006      0.000       0.114       0.123
female_onehot             0.0069      0.004      1.884      0.060      -0.000       0.014
Other_onehot              0.0264      0.007      3.520      0.000       0.012       0.041
Australia_onehot          0.0245      0.007      3.716      0.000       0.012       0.037
Canada_onehot             0.0066      0.008      0.803      0.422      -0.010       0.023
India_onehot              0.0832      0.011      7.786      0.000       0.062       0.104
Ireland_onehot            0.0497      0.013      3.758      0.000       0.024       0.076
United_Kingdom_onehot    -0.0002      0.005     -0.041      0.967      -0.010       0.009
==============================================================================
Omnibus:                    18325.583   Durbin-Watson:                   1.786
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4673.779
Skew:                          -0.234   Prob(JB):                         0.00
Kurtosis:                       2.054   Cond. No.                         8.52
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Analysis

The group reference for the regression is composed of male speakers from the United States.

- We can see from the analysis that all the coefficients that are significant are positive, suggesting a higher sentiment score compared to the reference group. 
- The intercept is the mean for the reference group (American and male speakers) which is equal to 0.12
- All nationalities except Canada and the UK, have a significant higher sentiment on this topic compared to American men speakers. 
- Female and 'others' have also on average have a better sentiment compared to American men speakers.

In [2]:
reg_sex_marriage = pd.read_pickle("same-sex-marriage-focus.pkl")
reg_sex_marriage

,date_of_birth,nationality,gender,occupation,Speaker,Quote,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"With this decision, loving and committed same-...",2015,6,0.9354,Positive
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"It's marriage equality, and it's a benchmark. ...",2015,6,-0.1515,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,I think where we start to get into a slippery ...,2015,6,0.9575,Positive
2015-12-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"But marriage equality is a benchmark, it is no...",2015,12,0.0000,Neutral
2016-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,2015 was a monumental year for the LGBT commun...,2016,2,0.8402,Positive
...,...,...,...,...,...,...,...,...,...,...
2015-06-01,1951,Australia,male,[rower],richard curtin,I'm liking 2015. The future looks fantastic! A...,2015,6,0.7644,Positive
2017-12-01,1979,United States of America,male,[politician],dan zwonitzer,"I'd pushback when they say, `The majority of W...",2017,12,0.2960,Positive
2015-03-01,1983,United States of America,male,[basketball player],corey smith,People are all really happy that a lot of laws...,2015,3,0.8460,Positive
2019-11-01,1956,United States of America,male,"[lawyer, politician]",deval patrick,not just a vote for marriage equality. It was ...,2019,11,0.0000,Neutral
2015-06-01,1953,United States of America,male,"[politician, lawyer]",ed perlmutter,Today is a historic day for marriage equality ...,2015,6,0.9796,Positive

In [10]:
reg_sex_marriage = pd.read_pickle("same-sex-marriage-focus.pkl")
reg_sex_marriage

,date_of_birth,nationality,gender,occupation,Speaker,Quote,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"With this decision, loving and committed same-...",2015,6,0.9354,Positive
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"It's marriage equality, and it's a benchmark. ...",2015,6,-0.1515,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,I think where we start to get into a slippery ...,2015,6,0.9575,Positive
2015-12-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"But marriage equality is a benchmark, it is no...",2015,12,0.0000,Neutral
2016-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,2015 was a monumental year for the LGBT commun...,2016,2,0.8402,Positive
...,...,...,...,...,...,...,...,...,...,...
2015-06-01,1951,Australia,male,[rower],richard curtin,I'm liking 2015. The future looks fantastic! A...,2015,6,0.7644,Positive
2017-12-01,1979,United States of America,male,[politician],dan zwonitzer,"I'd pushback when they say, `The majority of W...",2017,12,0.2960,Positive
2015-03-01,1983,United States of America,male,[basketball player],corey smith,People are all really happy that a lot of laws...,2015,3,0.8460,Positive
2019-11-01,1956,United States of America,male,"[lawyer, politician]",deval patrick,not just a vote for marriage equality. It was ...,2019,11,0.0000,Neutral
2015-06-01,1953,United States of America,male,"[politician, lawyer]",ed perlmutter,Today is a historic day for marriage equality ...,2015,6,0.9796,Positive

In [13]:
list_countries = ['United States of America', 'United Kingdom', 'Australia','Canada','India','Ireland']
reg_sex_marriage = reg_sex_marriage[reg_sex_marriage.nationality.isin(list_countries)]
reg_sex_marriage.head(5)

,date_of_birth,nationality,gender,occupation,Speaker,Quote,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"With this decision, loving and committed same-...",2015,6,0.9354,Positive
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"It's marriage equality, and it's a benchmark. ...",2015,6,-0.1515,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,I think where we start to get into a slippery ...,2015,6,0.9575,Positive
2015-12-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"But marriage equality is a benchmark, it is no...",2015,12,0.0000,Neutral
2016-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,2015 was a monumental year for the LGBT commun...,2016,2,0.8402,Positive

In [18]:
#reg_sex_marriage = reg_sex_marriage.drop(columns = ['occupation', 'Speaker','Quote','quote_month', 'Sentiment Label', 'quote_year'])
reg_sex_marriage.loc[~reg_sex_marriage.gender.isin(["male", "female"]), "gender"] = "Other"
reg_sex_marriage = pd.concat([reg_sex_marriage, pd.get_dummies(reg_sex_marriage.gender).add_suffix("_onehot")], axis=1)  # one hot encoding
reg_sex_marriage = pd.concat([reg_sex_marriage, pd.get_dummies(reg_sex_marriage.nationality).add_suffix("_onehot")], axis=1)  # one hot encoding
reg_sex_marriage = reg_sex_marriage.rename(columns={"United Kingdom_onehot": "United_Kingdom_onehot"})
reg_sex_marriage.head(5)

,date_of_birth,nationality,gender,Sentiment,Other_onehot,female_onehot,male_onehot,Australia_onehot,Canada_onehot,India_onehot,Ireland_onehot,United_Kingdom_onehot,United States of America_onehot
Date,,,,,,,,,,,,,
2015-06-01,1971,United States of America,female,0.9354,0,1,0,0,0,0,0,0,1
2015-06-01,1971,United States of America,female,-0.1515,0,1,0,0,0,0,0,0,1
2015-06-01,1971,United States of America,female,0.9575,0,1,0,0,0,0,0,0,1
2015-12-01,1971,United States of America,female,0.0000,0,1,0,0,0,0,0,0,1
2016-02-01,1971,United States of America,female,0.8402,0,1,0,0,0,0,0,0,1

In [21]:
mod = smf.ols(formula='Sentiment ~ female_onehot + Other_onehot + Australia_onehot + Canada_onehot + India_onehot + Ireland_onehot + United_Kingdom_onehot',
              data = reg_sex_marriage) 

res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sentiment   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.846
Date:                Wed, 15 Dec 2021   Prob (F-statistic):            0.00578
Time:                        14:08:35   Log-Likelihood:                -5304.4
No. Observations:                7399   AIC:                         1.062e+04
Df Residuals:                    7391   BIC:                         1.068e+04
Df Model:                           7
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.1920      0.008     22.899      0.000       0.176       0.208
female_onehot            -0.0008      0.014     -0.054      0.957      -0.029       0.027
Other_onehot              0.0646      0.056      1.153      0.249      -0.045       0.174
Australia_onehot          0.0454      0.014      3.284      0.001       0.018       0.072
Canada_onehot             0.0642      0.032      2.017      0.044       0.002       0.127
India_onehot              0.1676      0.102      1.648      0.099      -0.032       0.367
Ireland_onehot            0.0685      0.031      2.224      0.026       0.008       0.129
United_Kingdom_onehot     0.0302      0.019      1.573      0.116      -0.007       0.068
==============================================================================
Omnibus:                      651.781   Durbin-Watson:                   1.837
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              351.587
Skew:                          -0.382   Prob(JB):                     4.51e-77
Kurtosis:                       2.255   Cond. No.                         18.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Analysis

- When considering same-sex marriages only, American speakers have on average a significantly good sentiment (0.19, value of the intercept). 
- Australians as well as Irish people have a significantly higher sentiment on average (4,5% and 6,85% respectively).

In [8]:
reg_sex_marriage = pd.read_pickle("same-sex-marriage-focus.pkl")
list_countries = ['United States of America', 'United Kingdom', 'Australia','Canada','India','Ireland']
reg_sex_marriage = reg_sex_marriage[reg_sex_marriage.nationality.isin(list_countries)]
reg_sex_marriage

,date_of_birth,nationality,gender,occupation,Speaker,Quote,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"With this decision, loving and committed same-...",2015,6,0.9354,Positive
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"It's marriage equality, and it's a benchmark. ...",2015,6,-0.1515,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,I think where we start to get into a slippery ...,2015,6,0.9575,Positive
2015-12-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"But marriage equality is a benchmark, it is no...",2015,12,0.0000,Neutral
2016-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,2015 was a monumental year for the LGBT commun...,2016,2,0.8402,Positive
...,...,...,...,...,...,...,...,...,...,...
2015-06-01,1951,Australia,male,[rower],richard curtin,I'm liking 2015. The future looks fantastic! A...,2015,6,0.7644,Positive
2017-12-01,1979,United States of America,male,[politician],dan zwonitzer,"I'd pushback when they say, `The majority of W...",2017,12,0.2960,Positive
2015-03-01,1983,United States of America,male,[basketball player],corey smith,People are all really happy that a lot of laws...,2015,3,0.8460,Positive
2019-11-01,1956,United States of America,male,"[lawyer, politician]",deval patrick,not just a vote for marriage equality. It was ...,2019,11,0.0000,Neutral
2015-06-01,1953,United States of America,male,"[politician, lawyer]",ed perlmutter,Today is a historic day for marriage equality ...,2015,6,0.9796,Positive

In [29]:
new_df = {"USA_or_not":reg_sex_marriage['nationality'] == 'United States of America', "Male_or_not" : reg_sex_marriage['gender'] == 'male'} 
new_df = pd.DataFrame(new_df)
new_df

            USA_or_not  Male_or_not
Date
2015-06-01        True        False
2015-06-01        True        False
2015-06-01        True        False
2015-12-01        True        False
2016-02-01        True        False
...                ...          ...
2015-06-01       False         True
2017-12-01        True         True
2015-03-01        True         True
2019-11-01        True         True
2015-06-01        True         True

[7399 rows x 2 columns]

Date
2015-06-01 00:00:00                                                 True
2015-06-01 00:00:00                                                 True
2015-06-01 00:00:00                                                 True
2015-12-01 00:00:00                                                 True
2016-02-01 00:00:00                                                 True
                                             ...
2015-03-01 00:00:00                                                 True
2019-11-01 00:00:00                                                 True
2015-06-01 00:00:00                                                 True
USA_or_not             Date
2015-06-01     True
2015-06-01     True
2...
Male_or_not            Date
2015-06-01    False
2015-06-01    False
2...
Name: nationality, Length: 7401, dtype: object

RecursionError: maximum recursion depth exceeded