In [44]:
import seaborn as sns 
from matplotlib import pyplot as plt 
import pandas as pd
import numpy as np
import nltk 
from collections import Counter

In [45]:
# import expanded filtered quote file (after sentiment & stance analysis)
quotes_expanded = pd.read_json("filtered.json")
quotes_expanded.head(10)

,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month
0,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,This loss is a wake-up call that despite remar...,2,2015,11
1,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",1,2015,6
2,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,As a journalist and anchor who reaches million...,1,2015,4
3,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,By empowering people to talk about their gende...,6,2015,2
4,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,"By investing in this dangerous programming, TL...",133,2015,1
5,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,attitudes within the Catholic Church towards t...,1,2015,9
6,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,showing that many Americans think that we've a...,1,2015,12
7,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,These ads have the potential to accelerate muc...,1,2015,12
8,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,"By sharing this story, Bruce Jenner has shined...",118,2015,4
9,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,We need to push media companies and creators t...,5,2015,9

## 1) How legalization of same-sex marriage influenced the opinion of the authors of the quotes?

Answer roadmap : 
- 1 : Start with countries list
- 2 : Make up a table indicating the gay marriage legalization year
- 3 : Keep only a dataset where countries satisfies both [legalization year between 2015 and 2020] + [there are quotes both before and after the legalization]
- 4 : Compare pairs of means : country mean score before legalization VS after
- 5 : Test the null for each pair
- 6 : Conclude

### Step 1

In [54]:
nationalities = np.hstack(quotes_expanded.nationality.dropna().to_numpy())
nationalities_dict = dict(Counter(nationalities))
nationalities_dict = {'Country': list(nationalities_dict.keys()), 'Counts': list(nationalities_dict.values())}
nationalities_df = pd.DataFrame.from_dict(nationalities_dict)
nationalities_df.sort_values(by=['Counts'], ascending=False) #does not seem to work...
nationalities_df.head(50)

                                         Country  Counts
0                       United States of America   71574
1                                      Australia    7809
2                                 United Kingdom   15887
3                                         Canada    4999
4    United Kingdom of Great Britain and Ireland    1026
5                                        Ireland    1911
6                                        England     298
7                                          India    2734
8                                         Brazil     327
9                                 Czechoslovakia     114
10                                Czech Republic     107
11                                   Philippines    2049
12                                      Malaysia     331
13                                  Soviet Union     328
14                                        Russia     389
15                                   Puerto Rico     139
16                                         Spain     273
17                                  South Africa     685
18                                       Denmark     153
19                                        Poland     187
20                                       Nigeria     306
21                                        Israel     671
22                                      Pakistan     314
23                                     Argentina     127
24                                       Lebanon     143
25                                        Uganda     190
26                                      Scotland     170
27                                         Italy     497
28                                         Egypt     139
29                                  East Germany      98
30                                        Sweden     299
31                                     Canadians      74
32                                       Germany     780
33                                 British India     230
34                             Dominion of India     201
35                                        France     611
36                                          Cuba     139
37                                   South Korea      81
38                                         Kenya     108
39                                Russian Empire      50
40  Russian Soviet Federative Socialist Republic      46
41                                   New Zealand     970
42                                     Macedonia      47
43                                   The Bahamas      76
44                                        Mexico     299
45                    Kingdom of the Netherlands     251
46                                      Zimbabwe      69
47                                        Guinea      35
48                                         Chile     101
49                                        Belize      44